<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>

		<title>Exemplo - Spring Security</title>
		
        <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet"/>
	</head>
	
	<body>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/">Exemplo</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/lista-usuarios">Usuários</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/dados-acesso">Dados de acesso</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
		    <div layout:fragment="content">Local onde o conteúdo das outras páginas será adicionado</div>
		</div>

		<footer class="footer">
			<div class="container">
				<hr/>
				<span class="text-muted">&copy; 2018 DevMedia</span>
			</div>
		</footer>

		<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
	</body>
</html>